{% extends "auctions/layout.html" %}

{% block title %}
    Create Listing
{% endblock %}

{% block body %}
    <h2>Create Listing</h2>
    <br/><br/>
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    
    <div class="form-group">
        <form action = "{% url 'create' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
<!--.form-field {
    margin-top: 10px;
    margin-bottom: 10px;
}-->